@import url(scss/Utilites/_mixin.scss);
.btn {
  border: none !important;
  color: white !important;
  background-color: rgba(124, 39, 48, 0.55) !important; }
  .btn:hover {
    margin-top: 10px;
    box-shadow: 0 1rem 3rem rgba(124, 39, 48, 0.55); }

.card {
  background-color: black !important;
  color: brown;
  border: none;
  padding-top: 5rem; }
  .card:hover {
    border: solid brown;
    box-shadow: 0 1rem 3rem rgba(124, 39, 48, 0.55); }

.card-body {
  margin-top: 10rem;
  font-size: medium; }

.card-text {
  color: white;
  font-size: 2rem; }

.css-card::before, .html-card::before, .js-card::before, .react-card::before, .ai-card::before, .ps-card::before, .wp-card::before, .fg-card::before {
  content: "CSS";
  align-content: center;
  background: none;
  color: white;
  text-decoration: none; }

.css-card::after:hover, .html-card:hover::after, .js-card:hover::after, .react-card:hover::after, .ai-card:hover::after, .ps-card:hover::after, .wp-card:hover::after, .fg-card:hover::after {
  background-color: none;
  color: white;
  text-decoration: none; }

.html-card::before {
  content: "HTML"; }

.js-card::before {
  content: "JavaScript"; }

.react-card::before {
  content: "React"; }

.ai-card::before {
  content: "Adobe Ilustration"; }

.ps-card::before {
  content: "Photoshop Ilustrator"; }

.wp-card::before {
  content: "WordPress"; }

.fg-card::before {
  content: "Figma"; }

.cardcss-1, .cardcss-2, .cardcss-3, .cardcss-4, .cardcss-5, .cardcss-6, .cardcss-7, .cardcss-8 {
  padding-top: 7rem;
  margin-left: 4rem;
  width: 12.5rem;
  height: 17rem;
  border-radius: 1rem;
  border: #2b2929ad 0.2rem solid;
  transition: all 0.4s ease-in;
  box-shadow: 0.4rem 0.4rem 0.6rem rgba(124, 39, 48, 0.55); }
  .cardcss-1:hover, .cardcss-2:hover, .cardcss-3:hover, .cardcss-4:hover, .cardcss-5:hover, .cardcss-6:hover, .cardcss-7:hover, .cardcss-8:hover {
    transform: translateY(-1.5rem);
    border: rgba(124, 39, 48, 0.55) 0.2em solid;
    border-radius: 2.5rem 0 2.5rem 0; }

.card-port, .card-port-html, .card-port-ps {
  margin-left: 5rem;
  width: 190px;
  height: 254px;
  background: black;
  border: 2px solid white;
  border-radius: 20px; }
  .card-port:hover, .card-port-html:hover, .card-port-ps:hover {
    width: 150px;
    height: 254px;
    background-image: url(/Images/mobil.webp);
    background-size: cover;
    border: 2px solid black;
    border-radius: 20px;
    background-color: black;
    transition: all 0.5s; }

.card-port-html:hover {
  background-image: url(/Images/xbox.webp); }

.card-port-ps:hover {
  background-image: url(/Images/AI.webp); }

.mt-cont {
  padding-top: 10rem;
  margin-right: 35rem;
  padding-left: 15rem; }

.card-contacto {
  background-color: black;
  color: brown;
  border: none;
  padding-top: 2rem;
  padding-left: 1rem;
  padding-bottom: 2rem; }
  .card-contacto:hover {
    border: solid brown;
    box-shadow: 0 1rem 3rem rgba(124, 39, 48, 0.55);
    color: white; }

@media (max-width: 600px) {
  .btn {
    display: grid;
    grid-template-rows: auto !important; }
  .card-text {
    font-size: 20px; }
  .cardcss-1, .cardcss-2, .cardcss-3, .cardcss-4, .cardcss-5, .cardcss-6, .cardcss-7, .cardcss-8 {
    display: grid !important;
    grid-area: 100px;
    grid-column-start: 1;
    grid-row: auto;
    margin-bottom: 10px;
    width: 10rem; }
  .mt-cont {
    padding-left: 50px !important; }
  .card-port, .card-port-html, .card-port-ps {
    display: grid;
    margin-left: 0; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black; }

header nav {
  display: flex;
  justify-content: center;
  background-color: black; }
  header nav form {
    justify-content: center; }

@media (max-width: 600px) {
  header {
    display: grid !important;
    grid-template-columns: 100px 100px 100px !important;
    padding-left: 50px; } }

.footer {
  background: black !important; }

@media (max-width: 600px) {
  .footer .pfooter {
    font-size: 15px; } }

@-webkit-keyframes secondAnimation {
  0% {
    box-shadow: 0 0 0 0 var(--hoverContorno); } }

@keyframes secondAnimation {
  50% {
    box-shadow: 100 10 10 10 var(--hoverContorno); } }

.btnform, .btnformd {
  margin-top: 1rem;
  border-radius: 0.5rem;
  color: white;
  background-color: rgba(124, 39, 48, 0.55); }
  .btnform:hover, .btnformd:hover {
    margin-top: 10px;
    box-shadow: 0 1rem 3rem rgba(124, 39, 48, 0.55); }

.btn-mobile {
  margin-left: 50rem; }

@media (max-width: 600px) {
  .btn {
    display: grid !important;
    grid-column-start: 5 !important;
    margin-bottom: 2px; }
  .btn-mobile {
    margin-left: 100px !important; } }

div h1.contactame {
  display: flex;
  color: white;
  margin-left: 30rem;
  margin-bottom: 5rem; }

.mt-form {
  margin-top: 2rem;
  padding-left: 30rem; }

@media (max-width: 600px) {
  div h1.contactame {
    display: grid;
    margin-left: 50px !important;
    margin-top: 10px; }
  .mt-form {
    padding-left: 50px !important; } }

.cardsup {
  align-items: center;
  padding-left: 30rem;
  padding-top: 5rem;
  display: grid;
  grid-area: 10px;
  grid-column-start: 4;
  grid-template-columns: 200px 200px 200px;
  grid-column-gap: 70px;
  grid-row-gap: 50px; }

div p {
  font-style: oblique;
  font-size: 2rem;
  text-align: center;
  padding-top: 5rem;
  color: white; }

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px; }

.container:hover .card {
  filter: blur(3px);
  opacity: -5;
  transform: scale(1);
  box-shadow: none; }

.container:hover .card-idioma:hover {
  transform: scale(1);
  filter: blur(0px);
  opacity: 1;
  box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
  background: #A82C2C;
  color: white; }

.card-idioma {
  margin: 2%;
  background: #DBBDBD;
  width: 15rem;
  height: 15rem;
  box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  transition: 0.2s all;
  align-items: center;
  text-align: center;
  font-size: 9px;
  padding-top: 40px; }

.card-idioma > span {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  background: none;
  font-size: 2rem;
  max-width: 100rem; }

@media (max-width: 600px) {
  .cardsup {
    grid-column-start: 1;
    align-items: start;
    padding-left: 10px;
    grid-template-rows: 350px 350px 350px 350px; }
  .card-idioma {
    width: 10rem;
    height: 10rem; }
  .card-idioma > span {
    font-size: 15px; } }

div div.mt-port {
  display: flex;
  margin: 0;
  padding: 2rem 0 0 15rem; }

.txt {
  margin-top: 5rem;
  margin-left: 45rem;
  color: white; }

@media (max-width: 600px) {
  div {
    display: grid !important; }
    div div.mt-port {
      display: grid;
      padding: 0;
      padding-left: 50px; }
  .txt {
    margin: 0;
    padding: 0;
    padding-left: 100px; }
  header {
    display: grid !important;
    grid-template-columns: 0px  !important; } }

.mt-img {
  margin-top: 9rem !important;
  margin-left: 5rem; }
