div {
    h1.contactame{
        display:contents;
        color: map-get($map: $coloresBgMain, $key: "white");
         margin-left: 30rem;
         margin-bottom: 5rem;
    }
}

.mt-form{
    margin-top: 2rem;
    padding-left: 25rem;
}

//Generando Responsive para 600px //

@include small (600px) {
    div{
        h1.contactame {
            display: grid;
            margin-left: 50px !important;
            margin-top: 10px;
        }
       }
       
       .mt-form {
        padding-left: 50px !important;
       }
       .form-control {
        width: 500px !important;
       }
}

//Responsive para 1024px//

@include medium (1024px) {
    .mt-form{
        margin-top: 2rem;
        padding-left: 10rem;
    }
}